<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="icon" th:href="@{img/logo.png}" type="image/png"/>
    <script th:src="@{js/base.js}"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Gruner Hugel</title>
</head>
<body>
    <header th:replace="~{fragments/admin_header :: header(title = 'User List')}"></header>
    <main layout:fragment="main"></main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>