<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="icon" th:href="@{img/logo.png}" type="image/png"/>
    <script src="//sitna.navarra.es/api/"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Gruner Hugel</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header(title = 'Simulation SetUp')}"></header>
    <main class="main">
        <aside layout:fragment="aside"></aside>
        <div th:replace="~{fragments/map :: map}"></div>
    </main>
</body>
</html>