<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/aside-map}">

<head>
  <title>Simulation</title>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//grunerhugermatomo.duckdns.org/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body>
  <div class="col negativel d-flex align-items-center" layout:fragment="aside">
    <!--Left-Aside Edit form-->
    <div th:replace="~{fragments/form :: aside-form-farm-edit}"></div>
    <!--Left-Aside Simulation Info-->
    <div class="z-0 position-absolute start-0 negativel border-dark bgreen1 h-75 rounded-4 p-4 pl-2 d-flex">
      <div class="bgreen2 px-2 rounded-4 pt-3" th:fragment="aside-simulation-info">
        <div class="text-center mb-4">
          <img class="mx-auto d-block" th:src="@{/img/farm.png}" alt="Farm">
          <div class="fs-1  negativext text-center z-3 cgreen1">
            <label id="balance">0</label>€
          </div>
        </div>
        <div class="bcream  h-25 overflow-x-hidden mb-4 rounded-4">
          <div class="table-responsive">
            <table class="table bcream table-striped table-sm table-hover">
              <caption></caption>
              <thead>
                <tr>
                  <th th:text="#{simulation.concept}"></th>
                  <th th:text="#{simulation.operation}"></th>
                </tr>
              </thead>
              <tbody id="operations-list">
                <!--Add here the concept and operations-->
                <tr th:each="operation : ${operations}">
                  <td th:text="${operation.getConcept()}"></td>
                  <td th:text="${operation.getOperation()}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false"
            aria-controls="collapseWidthExample"
            class="d-flex negativexl position-absolute z-3  px-4 bgreen1 border border-dark rounded-5" id="button-open">
            <img class="w-100" th:src="@{/img/open.png}" alt="Open">
          </button>
        </div>

        <div class="bcream h-25 overflow-x-hidden mb-4 rounded-4 border border-dark">
          <div class="table-responsive">
            <table class="table bcream table-striped table-sm table-hover">
              <caption></caption>
              <thead>
                <tr>
                  <th th:text="#{simulation.land}"></th>
                  <th th:text="#{simulation.status}"></th>
                  <th th:text="#{delete}"></th>
                </tr>
              </thead>
              <tbody id="lands-list">
                <!--Add here the concept and operations-->
                <tr th:each="land : ${lands}">
                  <td class="py-2" th:text="${land.town.name}"></td>
                  <td th:text="${land.status}"></td>
                  <td>
                    <a class="btn bgreen3" th:href="@{/deleteLand/{id}(id=${land.id})}">
                      <img class="w-25" th:src="@{/img/bin.png}" alt="delete">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>