<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/aside-map}">

<head>
  <title>Simulation</title>
</head>

<body>
  <nav layout:fragment="nav" id="top-right-nav">
    <div th:replace="~{fragments/header :: profile-dropdown}"></div>
    <div>
      <button form="simulationCreate" type="submit" class="action">
        <img th:src="@{/img/play.png}" alt="play" />
      </button>
      <button class="action"><img th:src="@{/img/rewind.png}" alt="rewind"></button>
      <label id="speed">x1</label>
    </div>
  </nav>
  <aside layout:fragment="aside">
    <p th:if="${error}" class="error">End Date can't be before start</p>
    <h2 id="setup" class="subtitle">SIMULATION SETUP</h2>
    <div class="info">
      <div id="simulation">
        <form id="simulationCreate" class="form" method="post" th:action="@{/addSimulation}"
          th:object="${simulationCreate}">
          <label class="label">
            Start Date:
            <input type="date" name="startDate" min="1959-01-01" max="2022-08-31" th:field="*{startDate}"
              th:required="required" />
          </label>
          <label class="label">
            End Date:
            <input type="date" name="endDate" min="1959-01-01" max="2022-08-31" th:field="*{endDate}"
              th:required="required" />
          </label>
          <label class="label">
            Budget:
            <input type="number" name="budget" th:field="*{budget}" th:required="required" min="0" />
          </label>
          <label class="label">
            Tractor:
            <select th:field="*{tractorName}" id="tractor" th:required="required">
              <option th:each="tractor : ${tractors}" th:value="${tractor.tractorName}"
                th:text="${tractor.tractorName}"></option>
            </select>
            <input type="number" id="numTractor" th:field="*{numTractor}" min="0" th:required="required" />
          </label>
          <label class="label">
            Workers:
            <input type="number" th:field="*{numWorkers}" min="0" th:required="required" />
          </label>
          <label class="label">
            Plow:
            <select th:field="*{plowName}" id="plow" th:required="required">
              <option th:each="plow : ${plows}" th:value="${plow.plowName}" th:text="${plow.plowName}"></option>
            </select>
            <input type="number" id="numPlow" th:field="*{numPlow}" min="0" th:required="required" />
          </label>
          <label class="label">
            Seeder:
            <select th:field="*{seederName}" th:required="required" id="seederName">
              <option th:each="seeder : ${seeders}" th:value="${seeder.seederName}" th:text="${seeder.seederName}">
              </option>
            </select>
            <input type="number" id="numSeeder" th:field="*{numSeeder}" min="0" th:required="required" />
          </label>
          <label class="label">
            Harvester:
            <select th:field="*{harvesterName}" th:required="required" id="harvesterName">
              <option th:each="harvester : ${harvesters}" th:value="${harvester.harvesterName}"
                th:text="${harvester.harvesterName}"></option>
            </select>
            <input type="number" id="numHarvester" th:field="*{numHarvester}" min="0" th:required="required" />
          </label>
          <div class="options">
            <button type="reset" class="action">
              <img th:src="@{/img/reset.png}" alt="reset" />
            </button>
            <label>
              Total Cost:
              <label id="totalCost" th:text="${total}"></label>€
              <button id="calculateTotal">Calculate</button>
            </label>
          </div>
        </form>
      </div>
      <div id="plantation">
        <h2 class="subtitle">NEW PLANTATION</h2>
        <form class="form-plant" th:action="@{/addLand}" method="post">
          <label>
            Longitude(X):
            <label id="lng" th:text="${lng}"></label>
          </label>
          <label>
            Size:
            <input type="number" th:field="*{land.size}" th:value="0" required />
          </label>
          <label>Latitude(Y):
            <label id="lat" th:text="${lat}"></label>
          </label>
          <label>
            Crop:
            <select th:field="*{plant.name}" th:required="required">
              <option th:value="Wheat" th:text="Wheat"></option>
            </select>
          </label>
          <label>Town:
            <label id="town" th:text="${town}"></label>
          </label>
          <div class="options">
            <button type="submit" class="action">
              <img th:src="@{/img/tick.png}" alt="tick" />
            </button>
            <button type="reset" class="action">
              <img th:src="@{/img/x.png}" alt="x" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </aside>
</body>

</html>