<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/aside-map}">

<head>
  <title>Simulation</title>
</head>

<body>
  <div class="col negativel d-flex align-items-center" layout:fragment="aside">
    <!--Left-Aside Edit form-->
    <div th:replace="~{fragments/form :: aside-form-farm-edit}"></div>
    <!--Left-Aside Simulation Info-->
    <div class="z-0 position-absolute start-0 negativel border-dark bgreen1 h-75 rounded-4 p-4 pl-2 d-flex">
      <div class="bgreen2 px-2 rounded-4 pt-3" th:fragment="aside-simulation-info">
        <div class="text-center mb-4">
          <img class="mx-auto d-block" th:src="@{/img/farm.png}" alt="Farm" />
          <div class="fs-1  negativext text-center z-3 cgreen1">100000$</div>
        </div>
        <div class="bcream  h-25 overflow-x-hidden mb-4 rounded-4">
          <table class="table bcream table-striped table-sm table-hover">
            <caption></caption>
            <tr>
              <th th:text="#{simulation.concept}"></th>
              <th th:text="#{simulation.operation}"></th>
            </tr>
            <tr>
              <!--Add here the concept and operations-->
            </tr>
          </table>
          <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false"
            aria-controls="collapseWidthExample"
            class="d-flex negativexl position-absolute z-3  px-4 bgreen1 border border-dark rounded-5">
            <img class="w-100" th:src="@{/img/open.png}" alt="Open">
          </button>
        </div>

        <div class="bcream h-25 overflow-x-hidden mb-4 rounded-4">
          <table class="table bcream table-striped table-sm table-hover">
            <caption></caption>
            <tr>
              <th th:text="#{simulation.land}"></th>
              <th th:text="#{simulation.status}"></th>
            </tr>
            <tr th:each="land : ${lands}">
              <td th:text="${land.town.name}"></td>
              <td th:text="${land.status}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>