<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/no-footer}">
<h1 layout:fragment="title">User List</h1>
<main class="h-75 d-flex align-items-center justify-content-center" layout:fragment="main">
  <div class="bgreen3 h-75 w-75 p-5 rounded-2">
    <div class="bgreen3 h-100 mx-5 pb-5">
      <form class="h-100 w-100" th:object="${selectedUser}">
        <div class="table-responsive h-100 w-100 overflow-x-hidden">
          <table class="table bcream border border-dark table-striped table-sm table-hover">
            <caption></caption>
            <tr>
              <th th:text="#{user.name}"></th>
              <th th:text="#{user.surname}"></th>
              <th th:text="#{user.username}"></th>
              <th th:text="#{user.email}"></th>
              <th th:text="#{user.role}"></th>
              <th th:text="#{edit}"></th>
              <th th:text="#{delete}"></th>
            </tr>
            <tr th:each="user : ${users}">
              <td th:text="${user.name}"></td>
              <td th:text="${user.surname}"></td>
              <td th:text="${user.username}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.role.getName()}"></td>
              <td>
                <a class="btn bgreen3" th:href="@{/edit/{id}(id=${user.id})}" th:text="#{edit}"></a>
              </td>
              <td>
                <a class="btn bgreen3" th:href="@{/delete/{id}(id=${user.id})}" th:text="#{delete}"></a>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <a class="btn bgreen1" href="/create" th:text="#{button.create}"></a>
        </div>
      </form>
    </div>
  </div>
</main>

</html>