<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/no-footer}">
  <head>
    <title>User List</title>
  </head>
  <body>
    <h1 layout:fragment="title">User List</h1>
    <main layout:fragment="main">
      <form  th:object="${selectedUser}">
        <table>
          <caption></caption>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role.getName()}"></td>
            <td>
              <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
            </td>
            <td>
              <a th:href="@{/delete/{id}(id=${user.id})}"
                >Delete</a
              >
            </td>
          </tr>
        </table>
        <nav>
          <a href="/create">Create</a>
        </nav>
      </form>
    </main>
  </body>
</html>
