<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/no-footer}">

<head>
  <title th:text="#{title.user-list}"></title>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//grunerhugermatomo.duckdns.org/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
<h1 layout:fragment="title" th:text="#{title.user-list}"></h1>
<main class="h-75 s-flex align-items-center justify-content-center" layout:fragment="main">
  <div class="bgreen3 mt-5 h-50 w-75 position-absolute top-50 translate-middle start-50 rounded p-5 border border-dark">
    <div class="w-100 h-100">
      <div class="xxl-overflow-x-hidden lg-overflow-x-auto h-100">
    <div class="table-responsive h-100 w-100 xxl-overflow-x-hidden lg-overflow-x-auto">
      <table class="table bcream table-striped table-sm table-hover">
        <caption></caption>
        <tr>
          <th th:text="#{user.name}"></th>
          <th th:text="#{user.surname}"></th>
          <th th:text="#{user.username}"></th>
          <th th:text="#{user.email}"></th>
          <th th:text="#{user.role}"></th>
          <th th:text="#{edit}"></th>
          <th th:text="#{delete}"></th>
        </tr>
        <tr th:each="user : ${users}">
          <td th:text="${user.name}"></td>
          <td th:text="${user.surname}"></td>
          <td th:text="${user.username}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.role.getName()}"></td>
          <td>
            <a onclick="_paq.push(['trackEvent', 'Click', 'Edit', 'admin']);" class="btn bgreen3" th:href="@{/edit/{id}(id=${user.id})}" th:text="#{edit}"></a>
          </td>
          <td>
            <a onclick="_paq.push(['trackEvent', 'Click', 'Delete', 'admin']);" class="btn bgreen3" th:href="@{/delete/{id}(id=${user.id})}" th:text="#{delete}"></a>
          </td>
        </tr>
      </table>
    </div>
      </div>
    <div>
      <a onclick="_paq.push(['trackEvent', 'Click', 'Register', 'admin']);" class="btn mt-1 bgreen1" href="/create" th:text="#{button.create}"></a>
    </div>
  </div>
  </div>
</main>
</html>