<!--Header with title and user info-->
<header th:fragment="header-title-user">
  <div class="d-flex align-items-center justify-content-between text-dark ">
    <div class="">
    </div>
    <div class="">
      <h1 layout:fragment="title" class="mt-1 display-1 mb-1"></h1>
    </div>

    <div sec:authorize="isAuthenticated()" href="#" class="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="bgreen3 mb-3 w-50 rounded-circle" th:src="@{/img/perfil.png}" alt="perfil" />
    </div>

    <ul class="dropdown-menu mt-3 pt-0 bgreen1" aria-labelledby="dropdownMenuButton1">
      <div class="mt-n5 pt-0" sec:authorize="hasAuthority('ADMIN')">
        <li class="mb-3 bgreen3 mt-n5 d-flex align-items-center justify-content-center"><img class="w-25" th:src="@{/img/perfil.png}" alt="perfil" /><h2>Admin</h2></li>
        <li class="mb-3 d-flex justify-content-end"><a class="btn w-75 bgreen2" th:href="@{/admin}">Users</a></li>
        <li class="mb-3 d-flex justify-content-end"><a class="btn w-75 bgreen2" th:href="@{/investor}">Stats</a></li>
        <li class="mb-3 d-flex justify-content-end"><a class="btn w-75 bgreen2" th:href="@{/main}">Simulation</a></li>
        <li class="mb-3">
          <hr class="dropdown-divider">
        </li>
      </div>
      <li class="bgreen2 d-flex align-items-center justify-content-center"><a class="m-0 p-0" id="out" th:href="@{/logout}">Log out</a></li>
    </ul>

    </div>
  </div>
</header>

<!--Header with name and logo-->
<header th:fragment="header-login">
  <div class="d-flex align-items-center justify-content-center text-dark text-decoration-none">
    <h1>GRÜNER HÜGEL</h1>
    <img id="logo" th:src="@{/img/icono.png}" alt="Grüner Hügel Logo" />
  </div>
</header>

<!--Profile-->
<div class="col-3" th:fragment="profile-dropdown">
    <div sec:authorize="isAuthenticated()" href="#" class="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="bgreen3 w-100 rounded-circle" th:src="@{/img/perfil.png}" alt="perfil" />
    </div>

    <ul class="dropdown-menu mt-3 pt-0 bgreen1" aria-labelledby="dropdownMenuButton1">
      <div class="mt-n5 pt-0" sec:authorize="hasAuthority('ADMIN')">
        <li class="mb-3 bgreen3 mt-n5 d-flex align-items-center justify-content-center"><img class="w-25" th:src="@{/img/perfil.png}" alt="perfil" /><h2>Admin</h2></li>
        <li class="mb-3 d-flex justify-content-end"><a class="btn w-75 bgreen2" th:href="@{/admin}">Users</a></li>
        <li class="mb-3 d-flex justify-content-end"><a class="btn w-75 bgreen2" th:href="@{/investor}">Stats</a></li>
        <li class="mb-3 d-flex justify-content-end"><a class="btn w-75 bgreen2" th:href="@{/main}">Simulation</a></li>
        <li class="mb-3">
          <hr class="dropdown-divider">
        </li>
      </div>
      <li class="bgreen2 d-flex align-items-center justify-content-center"><a class="m-0 p-0" id="out" th:href="@{/logout}">Log out</a></li>
    </ul>
  </div>
</div>