<div class="map" th:fragment="map">
    <div id="map"></div>
    <script th:inline="javascript"> 

        var markerOptions = {
            url: "img/customIcon.png",
            anchor: [0.5, 0]
        };

        var map = new SITNA.Map("map", {
            controls: {
                click: {
                    active: true,
                    callback: function (coord) {
                        alert("Has pulsado en la posición " + coord[0] + ", " + coord[1]);
                        map.se
                        map.addMarker(coord, markerOptions);
                    }
                }
            },
            crs: "EPSG:4326",
            baseLayers: [SITNA.Consts.layer.IDENA_CADASTER],
            initialExtent: [-2.84820,41.7891,-0.32135,43.5578],
            maxExtent: [-2.84820,41.7891,-0.32135,43.5578],
            zoom: 9,
            maxZoom: 9
        });

    </script>
</div>