<div class="map" th:fragment="map">
    <div id="map"></div>
    <script th:inline="javascript">
        var map = L.map('map', { zoomControl: false }).setView([42.7233000, -1.6513800], 9);

        map.setMaxBounds(map.getBounds());

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            minZoom:9,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var customIcon = L.icon({
            iconUrl: 'img/customIcon.png',
            iconSize: [38, 95],
        });

        map.on("click", function(e){
            var mp = new L.Marker([e.latlng.lat, e.latlng.lng], {icon: customIcon}).addTo(map);
            alert(mp.getLatLng()); 
            document.getElementById('lat').value = marker.getLatLng().lat
            document.getElementById('lng').value = marker.getLatLng().lng
        });

    </script>
</div>