:root {
	--orange : #EF5533;
	--green: #2E7023;

	font-size: 20px;
	font-family: "Jockey One";

	height: 100vh;
	width: 100vw;
}
*, *::before, *::after {
	box-sizing: border-box;
}

header{
	background-color: var(--orange);
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
}

h1{
	color: var(--green);
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

main{
	display: flex;
	justify-content: center;
    align-items: center;
	height: 70vh;
}

.card{
	background-color: white;
	border: 1px solid black;
}

.card-title{
	padding: 0.5rem;
	margin: 0;
	color: white;
	background-color: black;
}

.card-body{
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

#login_button{
	margin-top: 10px;
	background-color: black;
	color: white;
}

.error{
	padding: 1rem;
	background-color: var(--error-transparent);
	color: black;
	border:1px solid var(--error);
	border-radius:4px;
}

.message{
	padding: 1rem;
	background-color: var(--message-transparent);
	color: black;
	border: 1px solid var(--message);
	border-radius: 4px;
}

footer{
	text-align: center;
}


@supports (grid-template-columns: subgrid){
	
}

@media (min-width: 512px){
	
	
}


@media (min-width: 900px){
	
	
}
