:root {
    --verde: #76BA99;
    --pistacho: #CED89E;
    --card: #ADCF9F;
    --crema: #FFDCAE;
}

/* Sticky footer styles
-------------------------------------------------- */
body {
    height: 100%;
    width: 100%;
    background-color: var(--pistacho);
}

#profile {
    width: fit-content;
    /* Set the fixed height of the header here */
    height: 50px;
    line-height: 5px;
    /* Vertically center the text there */
    background-color: var(--verde);
    border: 1px solid black;
    border-radius: 0 0 30px 30px;
}


/* Custom page CSS
  -------------------------------------------------- */

.dropdown-toggle img {
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
}