/*:root {
    --verde: #76BA99;
    --pistacho: #CED89E;
    --card: #ADCF9F;
    --crema: #FFDCAE;
}

/* Sticky footer styles
--------------------------------------------------
body {
    height: 100%;
    width: 100%;
    background-color: var(--pistacho);
}

header {
    height: fit-content;
    background-color: var(--verde);
    border: 1px solid black;
    border-radius: 0 0 30px 30px;
}

main {
    /* Margin bottom by footer height
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    /* Set the fixed height of the footer here
    height: fit-content;
    line-height: 60px;
    /* Vertically center the text there
    background-color: var(--verde);
    border: 1px solid black;
    border-radius: 30px 30px 0 0;
}

/* Custom page CSS
  --------------------------------------------------
/* Not required for template or sticky footer method.

body>main {
    padding: 60px 15px 0;
}

footer>main {
    padding-right: 15px;
    padding-left: 15px;
}

footer img {
    width: 5%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

#user {
    width: 5%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

code {
    font-size: 20px;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}*/