:root {
	--verde: #76BA99;
	--pistacho: #CED89E;
	--card: #ADCF9F;
	--crema: #FFDCAE;

	font-size: 20px;
	font-family: "Lucida Console";
}

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color: var(--pistacho);
	text-align: center;
	min-width: 100vh;
	display: flex;
	flex-direction: column;
}

img{
	max-width: 100%;
} 

header{
	background-color: var(--verde);
	border: 1px solid black;
	border-radius: 0 0 10px 10px;
}

.title{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.perfil{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

footer{
	background-color: var(--verde);
	border: 1px solid black;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	background-color: var(--pistacho);
	padding: 1rem;
	height: calc(100vmin - 34vh);
}

.card-body{
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	background-color: var(--card);
	border: 5px var(--verde) solid;
	border-radius: 10px;
	gap: 20px;
}

input{
	border: 2px black solid;
	background-color: var(--pistacho);
	border-radius: 20px;
}

table, th, td{
	border: 1px black solid;
	background-color: var(--crema);
}

#logout{
	border: 1px solid black;
	border-radius: 20px;
	background-color: var(--pistacho);
	color: black;
	padding: 0.5rem;
	text-decoration: none;
}

.action{
	border: 1px solid black;
	border-radius: 20px;
	background-color: var(--verde);
	color: black;
	padding: 0.5rem;
	text-decoration: none;
}

#login_button{
	margin-top: 10px;
	background-color: var(--verde);
	width: fit-content;
}


@supports (grid-template-columns: subgrid){
	
}

@media (min-width: 512px){
	
	
}

@media (min-width: 900px){
	
	
}
