:root {
	--verde: #76BA99;
	--pistacho: #CED89E;
	--card: #ADCF9F;
	--crema: #FFDCAE;

	font-size: 20px;
	font-family: "Lucida Console";
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	border: 0;
	background-color: var(--pistacho);
	text-align: center;
	min-width: 100vh;
	min-height: 100vh;
}

img {
	max-width: 100%;
}

#logout {
	border-left: 20px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: var(--pistacho);
	color: black;
	padding: 0.5rem;
	text-decoration: none;
}

.perfil {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--pistacho);
	padding: 1rem;
	height: calc(100vmin - 34vh);
}

.card-body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--card);
	border: 5px var(--verde) solid;
	border-radius: 10px;
	gap: 20px;
}

.grid-datos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.botones {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

input {
	border: 2px black solid;
	background-color: var(--crema);
	border-radius: 20px;
}

table,
th,
td {
	border: 1px black solid;
	background-color: var(--crema);
	padding: 0.3rem;
}

.action {
	border: 1px solid black;
	border-radius: 20px;
	background-color: var(--verde);
	color: black;
	padding: 0.5rem;
	text-decoration: none;
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#setup {
	background-color: var(--verde);
	border-radius: 70px 70px 0 0;
	margin-bottom: 0;
	width: 70%;
}

.info {
	background-color: var(--verde);
	border-radius: 10px;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.label {
	display: flex;
	justify-content: stretch;
	align-items: center;
	gap: 20px;
	width: inherit;
}

.options {
	display: flex;
	justify-content: stretch;
	align-items: center;
	gap: 20px;
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.subtitle {
	text-decoration: underline;
}

#plantation,
#simulation {
	background-color: var(--card);
	border-radius: 10px;
	padding: 0.5rem;
	width: inherit;
}

.form-plant {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
}

.map {
	width: 100%;
	height: 100%;
}

#map {
	width: inherit;
	height: inherit;
}

#slider {
	position: relative;
	align-items: center;
	justify-content: center;
}

#slider #slider-content {
	height: 70vh;
	max-width: 250px;
	width: 100%;
	background: #6C7A89;
	position: absolute;
	left: -250px;
	top: 50px;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: .2s all linear;
}

#slider #slider-content.active {
	visibility: visible;
	pointer-events: inherit;
	transition: .2s all ease-in-out;
	opacity: 1;
	left: 0;
}


@supports (grid-template-columns: subgrid) {}

@media (min-width: 512px) {}

@media (min-width: 900px) {}