<!DOCTYPE html>
<html lang="en" layout:decorate = "~{layout/admin_layout}">
<head>
    <title></title>
</head>
<body>
    <main layout:fragment="main">
        <form class="card-body" th:object="${selectedUser}">
            <table>
                <caption>Users list</caption>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role.getName()}"></td>
                    <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                </tr>
            </table>
            <nav>
                <a class="action" href="/create">Create</a>
            </nav>
        </form>
    </main>
</body>
</html>