<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/no-footer}">

<head>
  <title>Investor</title>
</head>

<body>
  <h1 layout:fragment="title">Simulation Rank</h1>
  <main layout:fragment="main">
    <form action="" class="card-body">
      <table>
        <caption></caption>
        <tr>
          <th>Rank</th>
          <th>Start Date</th>
          <th>Simulation Time</th>
          <th>Benefit/Debt</th>
        </tr>
        <div th:if="${simulations} == null">
          <tr>
            <td colspan=100%>No simulations yet</td>
          </tr>
        </div>
        <div th:unless="${simulations} == null">
          <tr th:each="simulation : ${simulations}">
            <td th:text="${simulation.rank}"></td>
            <td th:text="${simulation.startDate}"></td>
            <td th:text="${simulation.time}"></td>
            <td th:text="${simulation.benefit}"></td>
          </tr>
        </div>
      </table>
      <nav class="action"></nav>
    </form>
  </main>
</body>

</html>