<!DOCTYPE html>
<html lang=en layout:decorate="~{layout/login_layout}">

<head>
  <title>Login</title>
</head>

<body>
  <main layout:fragment="main">
    <section class="card">
      <p th:if="${loginError}" class="error">Wrong user or password</p>
      <form class="card-body" th:action="@{/login}" th:method="post">
        <label>
          USERNAME:
          <input th:type="text" name="username" required />
        </label>
        <label>
          PASSWORD:
          <input th:type="password" name="password" required />
        </label>
        <label>
          <input type="checkbox" name="remember-me" />Remember Me
        </label>
        <button class="action" type="submit">LOG IN</button>
      </form>
    </section>
    <p>Don't have an account yet? <a href="/create">Create one</a></p>
  </main>
</body>

</html>