<!DOCTYPE html>
<html lang=en layout:decorate="~{layout/login_layout}">

<head>
  <title>Login</title>
</head>

<body>
  <main layout:fragment="main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 bgreen3 rounded border border-dark mt-5">
          <form class="p-0" th:action="@{/login}" method="post">
            <label for="username" class="form-label col-3 mb-4 mt-5" >USERNAME:</label>
            <input th:type="text" name="username" placeholder="myname" class="col-6 bcream rounded-pill border border-dark" />
            <label for="password" class="form-label col-3 mt-4">PASSWORD:</label>
            <input th:type="password" name="password" placeholder="mypassword" class="col-6 bcream rounded-pill border border-dark mb-3" />
            <button type="submit" class="shadow-sm btn bcream bgreen1 col-3 border border-dark mb-3">LOG IN</button>
          </form>
        </div>
        <div class="row justify-content-center">
          <p class="col mt-2" >Don't have an account yet ?, <a href="">Create one</a></p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>