<!DOCTYPE html>
<html lang="en" layout:decorate = "~{layout/main_layout}">
<head>
    <title></title>
</head>
<body>
    <aside layout:fragment="aside">
        <h2 id="setup" class="subtitle">SIMULATION SETUP</h2>
        <div class="info">
            <div id="simulation">
                <form class="form" th:action="@{/simulation}" method="post">
                    <label class="label"> Start Date:
                        <input type="date" name="startDate" th:field="*{simulation.startDate}"/>
                    </label>
                    <label class="label"> End Date:
                        <input type="date" name="endDate" th:field="*{simulation.endDate}"/>
                    </label>
                    <label class="label">Budget: 
                        <input type="number" name="budget" th:field="*{farm.money}"/>
                    </label>
                    <label class="label">Tractor:
                        <select th:field="*{newTractor.tractorName}">
                            <option th:each="tractor : ${tractors}" th:value="*{tractor.tractorName}"  th:text="${tractor.tractorName}"></option>
                        </select>
                        <input type="number" th:value="*{numTractors}">
                    </label>
                    <label class="label">Workers:
                        <input type="number" th:name="*{numWorkers}" th:value="0">
                    </label>
                    <label class="label"> Plow:
                        <select th:field="*{newPlow.plowName}">
                            <option th:each="plow : ${plows}" th:value="*{plow.plowName}"  th:text="${plow.plowName}"></option>
                        </select>
                        <input type="number" th:name="*{numPlows}" th:value="0">
                    </label>
                    <label class="label">Seeder:
                        <select th:field="*{newSeeder.seederName}">
                            <option th:each="seeder : ${seeders}" th:value="*{seeder.seederName}"  th:text="${seeder.seederName}"></option>
                        </select>
                        <input type="number" th:name="*{numSeeders}" th:value="0">
                    </label>
                    <label class="label">Harvester:
                        <select th:field="*{newHarvester.harvesterName}">
                            <option th:each="harvester : ${harvesters}" th:value="*{harvester.harvesterName}"  th:text="${harvester.harvesterName}"></option>
                        </select>
                        <input type="number" th:value="*{numHarvesters}">
                    </label>
                    <div class="options">
                        <button type="submit" class="action"><img th:src="@{img/play.png}" alt="play"></button>
                        <button type="reset" class="action"><img th:src="@{img/reset.png}" alt="reset"></button>
                        <label>Total Cost:
                            <label>100000€</label>
                        </label>
                    </div>
                </form>
            </div>
            <div id="plantation">
                <h2 class="subtitle">NEW PLANTATION</h2>
                <form class="form-plant" th:action="@{/addLand}" method="post">
                    <label>Longitude(X):
                        <label th:text="*{lng}"></label>
                    </label>
                    <label> Size:
                        <input type="number" name="">
                    </label>
                    <label>Latitude(Y):
                        <label th:text="*{lat}"></label>
                    </label>
                    <label> Crop:
                        <select>
                            <option th:value="Wheat" th:text="Wheat"></option>
                        </select>
                    </label>
                    <label>Town:
                        <input type="text">
                    </label>
                    <div class="options">
                        <button type="submit" class="action"><img th:src="@{img/tick.png}" alt="tick"></button>
                        <button type="reset" class="action"><img th:src="@{img/x.png}" alt="x"></button>
                    </div>
                </form>
            </div>
        </div>
    </aside>
</body>
</html>