<!DOCTYPE html>
<html lang="en" layout:decorate = "~{layout/main_layout}">
<head>
    <title></title>
</head>
<body>
    <aside layout:fragment="aside">
        <h2 id="setup" class="subtitle">SIMULATION SETUP</h2>
        <div class="info">
            <div id="simulation">
                <form class="form" th:action="@{/simulation}" method="post">
                    <label class="label"> Start Date:
                        <input type="date" name="startDate"/>
                    </label>
                    <label class="label"> End Date:
                        <input type="date" name="endDate"/>
                    </label>
                    <label class="label">Budget: 
                        <input type="number" name="budget" th:value="*{money}"/>
                    </label>
                    <label class="label">Tractor:
                        <select>
                            <!--<option th:each="tractor : ${tractors}" th:value="${tractor.id}" th:text="${tractor.name}"></option>-->
                        </select>
                        <input type="number" name="" >
                    </label>
                    <label class="label">Workers:
                        <input type="number" name="">
                    </label>
                    <label class="label"> Plow:
                        <select>
                            <!--<option th:each="plow : ${plows}" th:value="${plow.id}" th:text="${plow.name}"></option>-->
                        </select>
                        <input type="number" name="">
                    </label>
                    <label class="label">Seed:
                        <select>
                            <!--<option th:each="seed : ${seeds}" th:value="${seed.id}" th:text="${seed.name}"></option>-->
                        </select>
                        <input type="number" name="">
                    </label>
                    <label class="label">Harvester:
                        <select>
                            <!--<option th:each="harvester : ${harvesters}" th:value="${harvester.id}" th:text="${harvester.name}"></option>-->
                        </select>
                        <input type="number" name="">
                    </label>
                    <div class="options">
                        <button type="submit" class="action"><img th:src="@{img/play.png}" alt="play"></button>
                        <button type="reset" class="action"><img th:src="@{img/reset.png}" alt="reset"></button>
                        <label>Total Cost:
                            <label>100000€</label>
                        </label>
                    </div>
                </form>
            </div>
            <div id="plantation">
                <h2 class="subtitle">NEW PLANTATION</h2>
                <form class="form-plant" th:action="@{/simulation}" method="post">
                    <label>Longitude(X):
                        <label id="lat"></label>
                    </label>
                    <label> Size:
                        <input type="number" name="">
                    </label>
                    <label>Latitude(Y):
                        <label id="lng"></label>
                    </label>
                    <label> Crop:
                        <select>
                            <!--<option th:each="crop : ${crops}" th:value="${crop.id}" th:text="${crop.name}"></option>-->
                        </select>
                    </label>
                    <label>Town:
                        <input type="text">
                    </label>
                    <div class="options">
                        <button type="submit" class="action"><img th:src="@{img/tick.png}" alt="tick"></button>
                        <button type="reset" class="action"><img th:src="@{img/x.png}" alt="x"></button>
                    </div>
                </form>
            </div>
        </div>
    </aside>
</body>
</html>