<!DOCTYPE html>
<html lang="en" layout:decorate = "~{layout/aside-map}">
<head>
    <title></title>
</head>
<body>
    <aside layout:fragment="aside">
        <img th:src="*{img/farm.png}" alt="Farm">
        <div class="card-body">
            <table>
                <caption></caption>
                <tr>
                    <th>Concept</th>
                    <th>Operation</th>
                </tr>
                <tr>
                    <td th:text=""></td>
                    <td th:text=""></td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <table>
                <caption></caption>
                <tr>
                    <th>Land</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td th:text=""></td>
                    <td th:text=""></td>
                </tr>
            </table>
        </div>
    </aside>
</body>
</html>